.classpath
.project
.settings/
logs/
target/
/bin
/nb-configuration.xml
**/.DS_Store
**/.idea/
.idea/
*.iml
*.log
**/node_modules/
totorotools
TotoroEnvCheck
app-debug.apk
app-debug-androidTest.apk
*.jar
deviceconsole
**/screenshot/
*.tmp
*.html
/crashLog
*.json
exportTmp/
src/test/java/com/totoro/auto/base/AppBaseCase.java